<!doctype html>
<html lang="en">
  <div class="main-container">
    <header>
    <title>LinkGrabber {{ channel }}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    </header>
    <body>
      <h1>
        {% if nick | length %}
          {{ server }} {{ channel }} &lt;{{ nick }}&gt;
        {% else %}
          {{ server }} {{ channel }}
        {% endif %}
      </h1>
      <table class="TFtable">
        {% for link in links %}
          <tr>
            <td>
              {{ link[0] }} {{ '<' }}<a href="/{{ link[1] }}">{{ link[1] }}</a>{{ '>' }}: <a href="https://{{ link[2] }}">{{ link[2] }}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </body>
    <h2>
    <center>
      {% if nick | length %}
        <a href="/{{ nick }}/{{ previous_page }}">&lt;</a> <a href="/1">Remove Filter</a> <a href="/{{ nick }}/{{ next_page }}"}>&gt;</a>
      {% else %}
        <a href="/{{ previous_page }}">&lt;</a> <a href="/{{ next_page }}"}>&gt;</a>
      {% endif %}
    </center>
    <h2>
    <footer>
      <h6>
        LinkGrabber
        <br>
        <a href="https://github.com/daviddever/LinkGrabber">github.com/daviddever/LinkGrabber</a>
      </h6>
    </footer>
  </div>
</html>
