@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #bebebe;
  }
  a:link {
    color: #a1c6f7;
  }
  a:visited {
    color: #c6a1f7;
  }
  .TFtable td{
    padding: 7px;
    border: #bebebe 1px solid;
  }
  .TFtable tr:nth-child(odd){
    background: #444444;
  }
  .TFtable tr:nth-child(even){
    background: #878683;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
  .TFtable td{
    padding: 7px;
    border: #4e95f4 1px solid;
  }
  .TFtable tr:nth-child(odd){
    background: #b8d1f3;
  }
  .TFtable tr:nth-child(even){
    background: #dae5f4;
  }
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}

.TFtable{
  width:100%;
  border-collapse:collapse;
}
